@font-face {
    font-family: "bootstrap-icons";
    src: url("./fonts/bootstrap-icons.woff2?856008caa5eb66df68595e734e59580d") format("woff2"),
  url("./fonts/bootstrap-icons.woff?856008caa5eb66df68595e734e59580d") format("woff");
  }
  


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */

}

.navbar{
    padding: 20px;
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(233, 229, 229);
}

.navbar h2{
    color:#f1356d ;
}

.navbar .links{
    margin-left: auto;
}

.navbar a{
    margin-left: 10px;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    color: rgb(66, 65, 65);
    display: block;
}

.navbar a:hover{
    color:#f1356d ;
}


.main-heading{
    float: right;
    margin-top: -20%;
    margin-right: 25%;
    margin-left: auto;
    font-size: 30px;
    z-index: 0;
    
}

.profile{
    z-index: -1;
    margin-top: -3%;
    margin-left: 10%;
}
.social-links{
    font-size: 23px;
    float: right;
    margin-right: 50%;
    margin-top: -10%;
   
}
  


.social-links a{
    color:black;
    padding: 0.5rem;
    background-color: rgb(228, 228, 228);
    border-radius: 50%;
}

.social-links a:hover{
    color: white;
    background-color: #f1356d;
    transition: 0.4s;
    
}

.first_end{

padding: 20px;
    display: flex;
    max-width: 900px;
    /* margin: 0 auto; */
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(233, 229, 229);

}


h4 span{
    border-bottom: 3px solid #f1356d;
    padding-bottom: 2px;
    
}

#about{
    display: flex;
    flex-direction: column;
    padding: 6rem;
    font-size: 25px;
    
}

#about h4{
    padding-top:2rem ;
    padding-bottom: 0.8rem;
    color: #f1356d;
    
}

.about_content{
    font-size: 20px;
    max-width: 600px;
    justify-content:right;
    align-items:center;
    margin: 0 auto;
}


.second_end{

    padding: 20px;
        max-width: 900px;
        /* margin: auto 0; */
        margin-left: 34%;
        /* align-items: center;
        justify-content: center; */
        border-bottom: 2px solid rgb(233, 229, 229);
    
    }

#skills{
    display: flex;
    flex-direction: column;
    padding: 6rem;
    font-size: 25px;
}

#skills h3{
padding-bottom: 2rem;
color:black ;
font-size: 25px;
}

.skill_img img{
    height: 50px;
    width: 50px;
    
}


footer{
    background-color: #f1356d;
    color: white;
    padding: 2rem;
    justify-content: center;
    align-items: center;
   
    
}

footer h3{
    font-size: 25px;
}

form{
    border: 2px solid white;
    padding: 1rem;
    font-size: 25px;
    
}

form div{
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   max-width: 700px;
}


.button{
    background-color: #96032f;
    border-style: none;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid #96032f;
    font-size: 16px;
    /* justify-content: center;
    align-items: center;
    margin: 0 auto; */
    margin-left: 45%;
  
    
}

.last_note{
    font-size: 18px;
}


@media only screen and (min-width: 200px) and (max-width: 480px) {
    .navbar {
      width:100%;
    }

    .navbar a{
        display: block;
    }
    .links{
      width:100%;
      float:none;
      font-size: 10px;  
      
    }
  }


@media only screen and (min-width: 400px) and (max-width: 780px) {
    .profile{
        display:none
        /* content: url(images/pexels-italo-melo-2379004-removebg-preview.png); */

    }
@media only screen and (max-width: 780px) {

    .main-heading{
        float: none;
        margin-top: 10%;
        margin-left: 14%;
        display: inline-block;
    }

    .social-links{
        float:none;
        margin-top: 5%;
        margin-left: 20%;
        display: flex;
    }

    .profile{
        display: none;
    }
    }



    @media only screen and (min-width: 1024px) and (max-width: 1400px){

        .main-heading{
            float: right;
            margin-top: 10%;
            margin-left: 18%;
            /* display: inline-block; */
        }
    
        .social-links{
            float:right;
            margin-top: 5%;
            margin-left: 25%;
            display: flex;
        }
        }


        @media only screen and (min-width: 320px) and (max-width: 400px){
            .main-heading{              
                margin-top: 10%;
                margin-left: 18%;
                float: right;
               
            }
        
            .social-links{
                float:right;
                margin-top: 5%;
                margin-left: 20%;
                display: flex;
            } 
            
            .profile{
                display: none;
            }
        }
            
        
        @media only screen and (min-width: 320px) and (max-width: 600px){
            footer{
                /* width: 100%; */
                display: none;
                
               

            }
        }
  



